@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000;
  --dark:#191A23;
  --green:#B9FF66;
  --grey:#F3F3F3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000;
    --dark:#191A23;
    --green:#B9FF66;
    --grey:#F3F3F3;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.box-shadow{
  box-shadow: 0 5px 0 rgba(0, 0, 0, 1);


}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Space Grotesk', sans-serif;

}




h1,
h2,
h3,
h4{
  font-weight: 500;
}
.h1-fluid {
  font-size: clamp(40px, 4.5vw, 70px);
}


.h2-fluid {
  font-size: clamp(24px, 3vw, 40px);
}

.h3-fluid {
  font-size: clamp(20px, 2.5vw, 30px);
}

.h4-fluid {
  font-size: clamp(16px, 2vw, 20px);
}


.p-fluid {
  font-size: clamp(14px, 1.8vw, 18px);
}

.logo-responsive {
  width: clamp(150px, 25vw, 219px);
  height: clamp(40px, 10vw, 56px);
}

.primary-button-responsive {
  padding: clamp(12px, 2.5vw, 20px) clamp(20px, 3vw, 35px);
  font-size: clamp(16px, 2vw, 20px);
  
  
}
.sidebar-button-responsive {
  width: clamp(40px, 8vw, 56px);
  height: clamp(40px, 8vw, 56px);
}






/* h1{
  font-size: 3.75rem;
  

}
h2{
  font-size: 2.5rem;
 

}
h3{
  font-size: 1.875rem;
  
}
p{
  font-size: 1.125rem;
  font-weight: 400;
} */

